/* Desktop */

@media (min-width: 1024px) {

    /* Header start */

    /* Navigation */

    .header__nav {
        justify-content: end;
        margin-bottom: 125px;
    }

    .header-button__nav {
        margin-right: 122px;
    }

    .header-mobile__nav {
        display: none;
    }

    /* Header content */

    .header__content {
        width: 665px;
        margin-left: 122px;
        margin-bottom: 147px;
    }

    .header__content h2 {
        margin-bottom: 20px;

        font-size: 64px;
        font-weight: 800;
        line-height: 82px;
    }

    .header__content p {
        margin-bottom: 50px;

        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form-cntr {
        width: 100%;
        padding-right: 148px;
    }

    .header-form {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 6px 6px 6px 32px;

        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .header-form input {
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form button {
        width: 136px;
        height: 61px;

        background-color: #F84646;
        border-radius: 8px;

        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
    }

    .header-form button:hover {
        background-color: #FFFFFF;
        border: 1px solid #F84646;
        color: #F84646;
    }

    /* Header End */


    /* Section 1 start */

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 120px;
    }

    .section1__content h2 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

        font-size: 36px;
        font-weight: 800;
    }

    .section1__content p {
        width: 994px;
        margin-bottom: 90px;
        text-align: center;

        font-size: 24px;
        font-weight: 400;
    }

    .section1-items {
        display: flex;
        flex-wrap: wrap;
    }

    .section1-item1,
    .section1-item2,
    .section1-item3,
    .section1-item4,
    .section1-item5,
    .section1-item6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 33%;

        margin-bottom: 90px;
    }

    .section1-items h3 {
        margin-block: 10px;

        font-size: 24px;
        font-weight: 800;
    }

    .section1-items p {
        max-width: 298px;

        font-size: 18px;
        font-weight: 400;
    }

    /* Section 1 end */

    /* Section 2 start */

    .section2 {
        margin-top: 90px;
    }

    .section2-cover {
        padding-block: 56px;
    }

    .section2-content h2 {
        margin-bottom: 20px;
        text-align: center;

        font-size: 56px;
        font-weight: 800;
    }

    .section2-content p {
        text-align: center;

        font-size: 20px;
        font-weight: 400;
    }

    .section2-mobile__svg {
        display: none;
    }

    .section2-items {
        display: flex;
        justify-content: center;

        margin-top: 85px;

        font-size: 14px;
    }

    .section2-item1,
    .section2-item2,
    .section2-item3,
    .section2-item4 {
        margin-inline: 35px;
    }

    /* Section 2 end */


    /* Section 3 start */

    .section3 {
        display: flex;
        flex-direction: column;

        padding: 160px 120px 160px;
    }

    .section3-item1,
    .section3-item2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section3-item1 {
        margin-bottom: 120px;
    }

    .section3-item1__content,
    .section3-item2__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 45%;
        max-width: 720px;
        min-height: 480px;
    }

    .section3-item1__content {
        margin-right: 40px;
    }

    .section3-item2__content {
        margin-left: 40px;
    }

    .section3-item1__img,
    .section3-item2__img {
        overflow: hidden;

        width: 45%;
    }

    .section3-item1__img {
        display: flex;
        justify-content: end;
    }

    .section3-item2__img {
        display: flex;
        justify-content: start;
    }

    .section3-item1__img img,
    .section3-item2__img img {
        width: auto;
        height: 480px;

        object-fit: cover;
        border-radius: 8px;
    }

    .section3-item1__content h3,
    .section3-item2__content h3 {
        font-size: 64px;
        font-weight: 700;
        line-height: 76px;
    }

    .section3-item1__content p,
    .section3-item2__content p {
        margin-block: 10px;

        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }

    .section3-item1__content button,
    .section3-item2__content button {
        width: 160px;
        height: 48px;

        background-color: #F84646;
        border-radius: 8px;
        color: #FFFFFF;

        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }

    .section3-item2-img__version2 {
        display: none;
    }

    /* Section 3 end */

    /* Section 4 start */

    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-inline: 120px;
    }

    .section4-cntr1 {
        margin-block: 160px 48px;
    }

    .section4-cntr1 h2 {
        margin-bottom: 5px;
        text-align: center;

        font-size: 48px;
        font-weight: 800;
        line-height: 64px;
    }

    .section4-cntr1 p {
        text-align: center;

        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
    }

    .section4-item1,
    .section4-item2,
    .section4-item3,
    .section4-item4,
    .section4-item5,
    .section4-item6,
    .section4-item7,
    .section4-item8 {
        display: inline-block;
        vertical-align: top;

        height: 96px;
    }

    .section4-item1 {
        width: 100%;
        text-align: center;
    }

    .section4-item2,
    .section4-item3 {
        width: 49%;
        text-align: center;
    }

    .section4-item4,
    .section4-item5,
    .section4-item6 {
        width: 33%;
    }

    .section4-item4 {
        text-align: left;
    }

    .section4-item5 {
        text-align: center;
    }

    .section4-item6 {
        text-align: right;
    }

    .section4-item7,
    .section4-item8 {
        width: 49%;
        text-align: center;
    }

    .section4-item9 {
        width: 100%;
        height: 96px;
    }

    .section4-item9 a {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #F84646;
    }

    .section4-item1 img,
    .section4-item2 img,
    .section4-item3 img,
    .section4-item4 img,
    .section4-item5 img,
    .section4-item6 img,
    .section4-item7 img,
    .section4-item8 img {
        display: inline-block;
        object-fit: cover;

        width: 170px;
    }

    /* Section 4 end */


}


/* Tablet */

@media (min-width: 769px) and (max-width: 1023px) {

    /* Header start */

    /* Navigation */

    .header__nav {
        justify-content: end;
        margin-bottom: 86px;
    }

    .header-button__nav {
        margin-right: 40px;
    }

    .header-mobile__nav {
        display: none;
    }

    /* Header content */

    .header__content {
        width: 665px;
        margin-left: 70px;
        margin-bottom: 86px;
    }

    .header__content h2 {
        margin-bottom: 20px;

        font-size: 56px;
        font-weight: 800;
        line-height: 73.5px;
    }

    .header__content p {
        margin-bottom: 50px;

        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .header-form-cntr {
        width: 100%;
        padding-right: 127px;
    }

    .header-form {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 6px 6px 6px 32px;

        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .header-form input {
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form button {
        width: 136px;
        height: 61px;

        background-color: #F84646;
        border-radius: 8px;

        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
    }

    .header-form button:hover {
        background-color: #FFFFFF;
        border: 1px solid #F84646;
        color: #F84646;
    }

    /* Header End */


    /* Section 1 start */

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 120px;
    }

    .section1__content h2 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

        font-size: 36px;
        font-weight: 800;
    }

    .section1__content p {
        width: 100%;
        margin-bottom: 90px;
        text-align: center;

        font-size: 24px;
        font-weight: 400;
    }

    .section1-items {
        display: flex;
        flex-wrap: wrap;
    }

    .section1-item1,
    .section1-item2,
    .section1-item3,
    .section1-item4,
    .section1-item5,
    .section1-item6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 50%;

        margin-bottom: 90px;
    }

    .section1-items h3 {
        margin-block: 10px;

        font-size: 24px;
        font-weight: 800;
    }

    .section1-items p {
        max-width: 298px;

        font-size: 18px;
        font-weight: 400;
    }

    /* Section 1 end */


    /* Section 2 start */

    .section2 {
        margin-top: 90px;
    }

    .section2-cover {
        padding-block: 56px;
    }

    .section2-content h2 {
        margin-bottom: 15px;
        text-align: center;

        font-size: 48px;
        font-weight: 800;
    }

    .section2-content p {
        text-align: center;

        font-size: 18px;
        font-weight: 400;
    }

    .section2-mobile__svg {
        display: none;
    }

    .section2-items {
        display: flex;
        justify-content: center;

        margin-top: 85px;

        font-size: 14px;
    }

    .section2-item1,
    .section2-item2,
    .section2-item3,
    .section2-item4 {
        margin-inline: 20px;
    }

    /* Section 2 end */

    /* Section 3 start */

    .section3 {
        display: flex;
        flex-direction: column;

        padding: 100px 60px 160px;
    }

    .section3-item1,
    .section3-item2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section3-item1 {
        margin-bottom: 120px;
    }

    .section3-item1__content,
    .section3-item2__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 45%;
        max-width: 428px;
        min-height: 480px;
    }

    .section3-item1__content {
        margin-right: 20px;
    }

    .section3-item2__content {
        margin-left: 20px;
    }

    .section3-item1__img,
    .section3-item2__img {
        overflow: hidden;

        width: 45%;
    }

    .section3-item1__img img,
    .section3-item2__img img {
        width: auto;
        height: 480px;

        object-fit: cover;
        border-radius: 8px;
    }

    .section3-item1__content h3,
    .section3-item2__content h3 {
        font-size: 58px;
        font-weight: 700;
        line-height: 59.5px;
    }

    .section3-item1__content p,
    .section3-item2__content p {
        margin-block: 10px;

        font-size: 14px;
        font-weight: 400;
        line-height: 28.5px;
    }

    .section3-item1__content button,
    .section3-item2__content button {
        width: 160px;
        height: 48px;

        background-color: #F84646;
        border-radius: 8px;
        color: #FFFFFF;

        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }

    .section3-item2-img__version1 {
        display: none;
    }

    /* Section 3 end */


    /* Section 4 start */

    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-inline: 60px;
    }

    .section4-cntr1 {
        margin-block: 160px 48px;
    }

    .section4-cntr1 h2 {
        margin-bottom: 5px;
        text-align: center;

        font-size: 48px;
        font-weight: 800;
        line-height: 64px;
    }

    .section4-cntr1 p {
        text-align: center;

        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
    }

    .section4-item1,
    .section4-item2,
    .section4-item3,
    .section4-item4,
    .section4-item5,
    .section4-item6,
    .section4-item7,
    .section4-item8 {
        display: inline-block;
        vertical-align: top;

        height: 96px;
    }

    .section4-item1 {
        width: 100%;
        text-align: center;
    }

    .section4-item2,
    .section4-item3 {
        width: 49%;
        text-align: center;
    }

    .section4-item4,
    .section4-item5,
    .section4-item6 {
        width: 33%;
    }

    .section4-item4 {
        text-align: left;
    }

    .section4-item5 {
        text-align: center;
    }

    .section4-item6 {
        text-align: right;
    }

    .section4-item7,
    .section4-item8 {
        width: 49%;
        text-align: center;
    }

    .section4-item9 {
        width: 100%;
        height: 96px;
    }

    .section4-item9 a {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #F84646;
    }

    .section4-item1 img,
    .section4-item2 img,
    .section4-item3 img,
    .section4-item4 img,
    .section4-item5 img,
    .section4-item6 img,
    .section4-item7 img,
    .section4-item8 img {
        display: inline-block;
        object-fit: cover;

        width: 170px;
    }

    /* Section 4 end */


}


/* Mobile */

@media (max-width: 768px) {

    /* Header start */
    header {
        background-color: rgba(255, 255, 255, 0.5);
        background-blend-mode: lighten;
    }

    /* Navigation */

    .header__nav {
        justify-content: space-between;
        margin-bottom: 62px;
    }

    .header-button__nav {
        margin-right: 20px;
    }

    .header-desktop__nav {
        display: none;
    }

    /* Header content */

    .header__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 84px;
        align-items: center;
        text-align: center;

        width: 100%;
        padding-inline: 20px;
    }

    .header__content h2 {
        margin-bottom: 20px;

        font-size: 42px;
        font-weight: 800;
        line-height: 57.5px;

        white-space: normal;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .header__content p {
        margin-bottom: 50px;

        font-size: 12px;
        font-weight: 400;
        line-height: 23px;
    }

    .header-form-cntr {
        width: 100%;
    }

    .header-form {
        display: flex;
        justify-content: space-between;
        padding: 6px;

        width: 100%;
        border-radius: 8px;
        background-color: #FFFFFF;
    }

    .header-form input {
        margin-inline: 10px;
        width: 60%;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form button {
        padding: 6px;

        border-radius: 8px;
        background-color: #F84646;

        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        border: 1px solid #F84646;
    }

    .header-form button:hover {
        background-color: #FFFFFF;
        color: #F84646;
    }

    /* Header End */


    /* Section 1 start */

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 120px 20px 40px;
    }

    .section1__content h2 {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;

        font-size: 24px;
        font-weight: 800;
    }

    .section1__content p {
        width: 100%;
        max-width: 335px;
        text-align: center;

        font-size: 12px;
        font-weight: 400;
    }

    .section1-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        margin-top: 91px;
    }

    .section1-item1,
    .section1-item2,
    .section1-item3,
    .section1-item4,
    .section1-item5,
    .section1-item6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-bottom: 90px;
    }

    .section1-items h3 {
        margin-block: 10px;

        font-size: 24px;
        font-weight: 800;
    }

    .section1-items p {
        max-width: 298px;

        font-size: 18px;
        font-weight: 400;
    }

    /* Section 1 end */

    /* Section 2 start */

    .section2 {
        margin-top: 90px;
    }

    .section2-cover {
        padding: 50px 20px 84px;
    }

    .section2-content h2 {
        margin-bottom: 10px;
        text-align: center;
        white-space: normal;
        word-break: break-word;
        overflow-wrap: break-word;

        font-size: 36px;
        font-weight: 800;
    }

    .section2-content p {
        margin-bottom: 55px;
        text-align: center;

        font-size: 14px;
        font-weight: 400;
    }

    .section2-desktop__svg {
        display: none;
    }

    .section2-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-top: 85px;

        font-size: 18px;
    }

    .section2-mobile__svg svg {
        height: 30px;
    }

    .section2-item1,
    .section2-item2,
    .section2-item3,
    .section2-item4 {
        margin-block: 20px;
    }

    /* Section 2 end */

    /* Section 3 start */

    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 90px 20px;
    }

    .section3-item1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        max-width: 500px;
    }

    .section3-item2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 500px;
    }

    .section3-item1__img,
    .section3-item2__img {
        display: flex;
        justify-content: center;

        overflow: hidden;
    }

    .section3-item1__img img,
    .section3-item2__img img {
        width: auto;
        height: 335px;
        border-radius: 8px;
        object-fit: cover;
    }

    .section3-item2-img__version1 {
        display: none;
    }

    .section3-item1__content h3,
    .section3-item2__content h3 {
        margin-block: 30px 20px;
        text-align: center;

        font-size: 36px;
        font-weight: 700;
        line-height: 41.5px;
    }

    .section3-item1__content p,
    .section3-item2__content p {
        margin-bottom: 40px;
        text-align: center;

        font-size: 14px;
        font-weight: 400;
        line-height: 28.5px;
    }

    .section3-item1__content button,
    .section3-item2__content button {
        margin-bottom: 60px;

        width: 100%;
        height: 48px;

        background-color: #F84646;
        border-radius: 8px;
        color: #FFFFFF;

        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }

    /* Section 3 end */


    /* Section 4 start */

    .section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section4-cntr1 h2 {
        margin-bottom: 5px;
        text-align: center;

        font-size: 36px;
        font-weight: 700;
        line-height: 41.5px;
    }

    .section4-cntr1 p {
        text-align: center;

        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
    }

    .section4-cntr2 {
        display: flex;
        flex-direction: column;

        width: 223px;
    }

    .section4-item1 {
        order: 4;
    }

    .section4-item2 {
        order: 2;
    }

    .section4-item3 {
        display: none;
    }

    .section4-item4 {
        order: 1;
    }

    .section4-item5 {
        order: 5;
    }

    .section4-item6 {
        display: none;
    }

    .section4-item7 {
        display: flex;
        justify-content: center;

        order: 3;
    }

    .section4-item8 {
        display: none;
    }

    .section4-item9 {
        order: 6;
    }

    .section4-item1,
    .section4-item2,
    .section4-item4,
    .section4-item5,
    .section4-item7 {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 96px;
    }

    .section4-item9 a {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 96px;
        color: #F84646;
    }

    /* Section 4 end */

}