/* Desktop */

@media (min-width: 1024px) {

    /* Header start */

    /* Navigation */

    .header__nav {
        justify-content: end;
        margin-bottom: 125px;
    }

    .header-button__nav {
        margin-right: 122px;
    }

    .header-mobile__nav {
        display: none;
    }

    /* Header content */

    .header__content {
        width: 665px;
        margin-left: 122px;
        margin-bottom: 147px;
    }

    .header__content h2 {
        margin-bottom: 20px;

        font-size: 64px;
        font-weight: 800;
        line-height: 82px;
    }

    .header__content p {
        margin-bottom: 50px;

        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form-cntr {
        width: 100%;
        padding-right: 148px;
    }

    .header-form {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 6px 6px 6px 32px;

        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .header-form input {
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form button {
        width: 136px;
        height: 61px;

        background-color: #F84646;
        border-radius: 8px;

        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
    }

    .header-form button:hover {
        background-color: #FFFFFF;
        border: 1px solid #F84646;
        color: #F84646;
    }

    /* Header End */


    /* Section 1 start */

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 120px;
    }

    .section1__content h2 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

        font-size: 36px;
        font-weight: 800;
    }

    .section1__content p {
        width: 994px;
        margin-bottom: 90px;
        text-align: center;

        font-size: 24px;
        font-weight: 400;
    }

    .section1-items {
        display: flex;
        flex-wrap: wrap;
    }

    .section1-item1,
    .section1-item2,
    .section1-item3,
    .section1-item4,
    .section1-item5,
    .section1-item6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 33%;

        margin-bottom: 90px;
    }

    .section1-items h3 {
        margin-block: 10px;

        font-size: 24px;
        font-weight: 800;
    }

    .section1-items p {
        max-width: 298px;

        font-size: 18px;
        font-weight: 400;
    }

    /* Section 1 end */



}


/* Tablet */

@media (min-width: 769px) and (max-width: 1023px) {

    /* Header start */

    /* Navigation */

    .header__nav {
        justify-content: end;
        margin-bottom: 86px;
    }

    .header-button__nav {
        margin-right: 40px;
    }

    .header-mobile__nav {
        display: none;
    }

    /* Header content */

    .header__content {
        width: 665px;
        margin-left: 70px;
        margin-bottom: 86px;
    }

    .header__content h2 {
        margin-bottom: 20px;

        font-size: 56px;
        font-weight: 800;
        line-height: 73.5px;
    }

    .header__content p {
        margin-bottom: 50px;

        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .header-form-cntr {
        width: 100%;
        padding-right: 127px;
    }

    .header-form {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 6px 6px 6px 32px;

        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .header-form input {
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form button {
        width: 136px;
        height: 61px;

        background-color: #F84646;
        border-radius: 8px;

        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
    }

    .header-form button:hover {
        background-color: #FFFFFF;
        border: 1px solid #F84646;
        color: #F84646;
    }

    /* Header End */


    /* Section 1 start */

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 120px;
    }

    .section1__content h2 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

        font-size: 36px;
        font-weight: 800;
    }

    .section1__content p {
        width: 100%;
        margin-bottom: 90px;
        text-align: center;

        font-size: 24px;
        font-weight: 400;
    }

    .section1-items {
        display: flex;
        flex-wrap: wrap;
    }

    .section1-item1,
    .section1-item2,
    .section1-item3,
    .section1-item4,
    .section1-item5,
    .section1-item6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 50%;

        margin-bottom: 90px;
    }

    .section1-items h3 {
        margin-block: 10px;

        font-size: 24px;
        font-weight: 800;
    }

    .section1-items p {
        max-width: 298px;

        font-size: 18px;
        font-weight: 400;
    }

    /* Section 1 end */
}


/* Mobile */

@media (max-width: 768px) {

    /* Header start */
    header {
        background-color: rgba(255, 255, 255, 0.5);
        background-blend-mode: lighten;
    }

    /* Navigation */

    .header__nav {
        justify-content: space-between;
        margin-bottom: 62px;
    }

    .header-button__nav {
        margin-right: 20px;
    }

    .header-desktop__nav {
        display: none;
    }

    /* Header content */

    .header__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 84px;
        align-items: center;
        text-align: center;

        width: 100%;
        padding-inline: 20px;
    }

    .header__content h2 {
        margin-bottom: 20px;

        font-size: 42px;
        font-weight: 800;
        line-height: 57.5px;

        white-space: normal;
        word-break: break-word;
        /* keep only one, this is usually enough */
        overflow-wrap: break-word;
    }

    .header__content p {
        margin-bottom: 50px;

        font-size: 12px;
        font-weight: 400;
        line-height: 23px;
    }

    .header-form-cntr {
        width: 100%;
    }

    .header-form {
        display: flex;
        justify-content: space-between;
        padding: 6px;

        width: 100%;
        border-radius: 8px;
        background-color: #FFFFFF;
    }

    .header-form input {
        margin-inline: 10px;
        width: 60%;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

    .header-form button {
        padding: 6px;

        border-radius: 8px;
        background-color: #F84646;

        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        border: 1px solid #F84646;
    }

    .header-form button:hover {
        background-color: #FFFFFF;
        color: #F84646;
    }

    /* Header End */


    /* Section 1 start */

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 120px 20px 40px;
    }

    .section1__content h2 {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;

        font-size: 24px;
        font-weight: 800;
    }

    .section1__content p {
        width: 100%;
        max-width: 335px;
        text-align: center;

        font-size: 12px;
        font-weight: 400;
    }

    .section1-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        margin-top: 91px;
    }

    .section1-item1,
    .section1-item2,
    .section1-item3,
    .section1-item4,
    .section1-item5,
    .section1-item6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-bottom: 90px;
    }

    .section1-items h3 {
        margin-block: 10px;

        font-size: 24px;
        font-weight: 800;
    }

    .section1-items p {
        max-width: 298px;

        font-size: 18px;
        font-weight: 400;
    }

    /* Section 1 end */


}