@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
}

body {
    font-family: 'Manrope', sans-serif;
}


/* Header start */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../img/backgrounds/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 754px;
}

.header-container {
    display: flex;
    justify-content: end;
    padding-right: 122px;
    margin-top: 35px;
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.header-nav ul {
    display: flex;
}

.header-nav li {
    margin-right: 40px;
}

.header-nav li:hover {
    color: #F84646;
}

.our-contact {
    background-color: #F84646;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
}

.our-contact:hover {
    padding: 9px 19px;
    border: 1px solid #F84646;
    background-color: #ffffff;
    color: #F84646;
}

.header-content {
    margin: 135px 122px 0 148px;
    width: 665px;
    height: 406px;
}

.header-content h2 {
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}

.header-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}

.header-form {
    display: flex;
    margin-top: 50px;
    align-items: center;
    padding-left: 32px;
    width: 502px;
    height: 73px;
    background-color: #ffffff;
    border-radius: 8px;
}

.header-form form {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    width: 100%;
    height: 100%;
}

.header-form button {
    height: 100%;
    width: 136px;
    color: #ffffff;
    background-color: #F84646;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
}

.header-form button:hover {
    color: #F84646;
    background-color: #ffffff;
    border: 1px solid #F84646;
}

/* Header end */

/* Main start */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section-1 Start */

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 120px;
    margin-bottom: 140px;
}

.section-1 h2 {
    margin-bottom: 30px;
    height: 56px;
    font-weight: 800;
    font-size: 36px;
    text-align: center;

}

.section-1 p {
    max-width: 994px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}

.section1-container {
    display: flex;
    flex-wrap: wrap;
}

.section1-mini-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    flex: 0 0 33%;
    height: 211px;
}

.section1-mini-container h3 {
    margin: 10px;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}

.section1-mini-container p {
    width: 316px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

/* Section-1 End */

/* Section-2 Start */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 376px;
    background:
        linear-gradient(rgba(248, 70, 70, 0.92), rgba(248, 70, 70, 0.92)),
        url('../img/backgrounds/background2.png') no-repeat center center / cover;
    color: #ffffff;
}

.section2-up {
    text-align: center;
    margin-top: 68px;
}

.section2-up h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

.section2-up p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;

}

.section2-down {
    display: flex;
    justify-content: space-between;
    width: 1088px;
    margin: 78px 0;
}

.section2-down p {
    font-weight: 700;
    font-size: 18px;
}

/* Section-2 End */